.weather-component {

    .weather-row {

        &.current {
            display: flex;
            align-items: center;
            
            .weather-city {
                flex: 2;
                font-size: 2.5rem;
                text-align: center;
                float: left;
            }


            .weather-icon {
                flex: 2;
                
                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            .weather-temperature {
                flex: 2;
                text-align: center;
                font-size: 3rem;
                font-weight: bold;
                float: left;

                .weather-desc {
                    display: block;
                    font-size: 1.5rem;
                    text-align: center;
                    width: 100%;    
                }
            }
        }

        &.forecast {
            display: flex;
            flex-flow: row;
            align-items: stretch;
        }
    }

    .weather-hourly {
        display: flex;
        flex-flow: column;

        .values {
            display: flex;
            flex: 1;
            margin-left: 40px;
            margin-right: 40px;
            align-items: center;

            .weather-icon {
                flex: 1;

                img {
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }

            .weather-temperature {
                flex: 1;
                text-align: center;
                font-size: 3rem;
                font-weight: bold;
                float: left;
            }

            .weather-other {
                display: flex;
                flex-flow: column;
                .other-value {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: bold;
                    display: flex;
                    flex-flow: row;

                    img {
                        width: 20px;
                    }
                }
            }
        }

        .temperatures {
            display: flex;
            flex-flow: row;
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}
