.weather-component {

    .weather-row {

        &.current {
            display: flex;
            align-items: center;
            
            .weather-city {
                flex: 2;
                font-size: 2.5em;
                text-align: center;
                float: left;
            }


            .weather-icon {
                flex: 2;
                
                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            .weather-temperature {
                flex: 2;
                text-align: center;
                font-size: 3em;
                font-weight: bold;
                float: left;
            }
        }

        &.desc {
            margin-top: -20px;
        }

        .weather-desc {
            display: block;
            font-size: 1.2em;
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
        }

        &.forecast {
            display: flex;
            flex-flow: row;
            align-items: stretch;
        }
    }
}
