.weather-component {

    .weather-row {

        &.current {
            display: flex;
            align-items: center;
            
            .weather-city {
                flex: 2;
                font-size: 2.5rem;
                text-align: center;
                float: left;
            }


            .weather-icon {
                flex: 2;
                
                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            .weather-temperature {
                flex: 2;
                text-align: center;
                font-size: 3rem;
                font-weight: bold;
                float: left;

                .weather-desc {
                    display: block;
                    font-size: 1.5rem;
                    text-align: center;
                    width: 100%;    
                }
            }
        }

        &.forecast {
            display: flex;
            flex-flow: row;
            align-items: stretch;
        }
    }

    .weather-hourly {
        display: flex;
        flex-flow: column;

        .temperatures {
            display: flex;
            flex-flow: row;
            margin-left: 35px;
            margin-right: 35px;
        }
    }
}
