.modal-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1d2731;
    opacity: 0.6;
    z-index: 3;
}

.modal-component {
    padding: 10px 20px;
    min-width: 200px;
    background-color: #223343;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.7); 
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.7);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 3;

    .title-box {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
        min-height: 20px;
        font-size: 1.2rem;
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
        line-height: 1rem;
    }

    .content-box {
        min-height: 50px;
        display: contents;
    }

    .footer-box {
        min-height: 20px;
    }
}

@media (max-width: 500px) {
    .modal-component {
        padding: 0;
        width: 100%;
    }
}
