.todo-component {
  min-width: 200px;
  display: flex;
  flex-direction: column;

  .todo-add-button {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
}

.todo-item-component {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 25px;

  .todo-row-checkbox {

  }

  .todo-row-title {
    flex: 1;
  }
}

.todo-item-creator {

  .submit-button {
    display: flex;
    float: right;
  }
}
