.todo-component {
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.todo-item-component {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 25px;

  .todo-row-checkbox {
    width: 20px;
    height: 20px;
  }

  .todo-row-title {
    flex: 1;
  }
}
