.temperature-section-component {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100%;
    
    .text-title {
        font-size: 1.4rem;
        display: inline-table;
        width: 100%;
        text-align: center;
        font-weight: bold;
        border-bottom: 2px dashed grey;
    }

    .section-box {
        border-bottom: 1px dashed grey;
        display: inline-table;
        width: 100%;

        .text-subtitle {
            font-size: 1.2rem;
        }
        
        .temp-box {
            text-align: center;
            
            span {
                font-size: 1.4rem;
                display: inline-block;
                padding: 10px;
            }
        }
    }
}
