.content-component {
    display: flex;
    flex: 1;
    min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
}

.content-box {
    display: flex;
    overflow: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 30px;
}

@media (max-width: 500px) {
    .content-box {
        margin-left: 30px;
    }
}
