.content-component {
    display: flex;
    flex: 1;
    min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
}

.content-box {
    display: flex;
    overflow: auto;
    width: 100%;
}
