.socket-item {
  position: relative;
  padding: 5px 10px 15px 5px;
  text-align: center;
  margin: auto;

  .socket-disabled {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #223443;
    opacity: 0.8;
  }

  .socket-title {
    display: flex;
    font-size: 1.3rem;

    .socket-indicator {
      width: 20px;
      height: 20px;
      border-radius: 8px;
      background-color: dimgrey;
      border: 2px solid darkslategrey;
      margin-right: 10px;
      margin-bottom: 5px;

      &.enabled {
        background-color: green;
      }
    }
  }

  .socket-details {

    .socket-clock {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 10px;

      .clockface {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
        }
      }

      .clockface-arrow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
        }
      }

      .socket-range {
        width: 100%;
        background: #139035;
        height: 100%;
        position: absolute;
        border-radius: 50%;

        .range {
          border-radius: 50%;
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
