.App {
    color: #444444;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .appMiddle {
        display: flex;
        flex: 1;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
        img{
            -webkit-user-drag: none;
        }
    }

    input, textarea, button, select, a {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}
