.room-section-component {
    display: flex;
    height: 134px;
    flex-direction: row;
    align-items: center;

    .room-tile {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;

        img {
            margin: 0 auto;
        }

        .text-title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .text-value {
            text-align: center;
            font-size: 2rem;
        }
    }
}
