.pwd-collapse {
    width: 100%;

    .collapse-content {
        overflow:hidden;
        transition:height 0.3s ease-out;
        height:auto;
    }

    .collapse-button {
        display: flex;
        width: 100%;
        cursor: pointer;
        min-height: 22px;
        user-select: none;

        .collapse-arrow {
            transition: 0.3s ease-out;
            margin-right: 10px;
            display: inline-block;
            transform:rotate(0deg);
            -ms-transform:rotate(0deg);
            -webkit-transform:rotate(0deg);
        }
    }

    &.collapsed {
        .collapse-content {
            height: 0;
        }

        .collapse-arrow {
            transform:rotate(-90deg);
            -ms-transform:rotate(-90deg);
            -webkit-transform:rotate(-90deg);
        }
    }
}
